<div class="row row-map">
  <div class="col-md-9">
    <h2 class="heading">Текущий трэк</h2>
    <hr />
    <div id="map"></div>
  </div>

  <ng-container *ngIf="positionInfo">
    <div class="col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th *ngIf="positionInfo.currentSpeed" scope="row">текущая скорость</th>
            <th scope="row">вес груза</th>
            <th scope="row">общий вес</th>
            <th scope="row">текущие координаты</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngIf="positionInfo.currentSpeed as value">{{ value }} км/ч</td>
            <td *ngIf="positionInfo.snapshot.cargoWeight as value">{{ value }} кг</td>
            <td *ngIf="positionInfo.snapshot.totalWeight as value">{{ value }} кг</td>
            <td *ngIf="positionInfo.point.geometry.coordinates as value">{{ value }} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <ul>
        <li *ngFor="let axis of positionInfo.snapshot.data">нагрузка на ось {{ axis.axisId }}: {{ axis.weight }} кг</li>
      </ul>
    </div>
  </ng-container>

</div>
