<!-- <div class="container"> -->
<!-- <nav id="" class="navbar navbar-custom">
  <a class="navbar-brand" [routerLink]="['/']">
    <p class="logo">{{ title }}</p>
  </a>
</nav> -->

<div class="container-fluid">
  <div class="header_top">
    <div class="header_top-container">
      <img src="/assets/img/logo_og.png" alt="Original Group" class="logo2">
      <div class="logo_separator"></div>
      <div class="logo_slogan">Development<br>of IT Products</div>
    </div>
    <nav class="main">
      <ul class="nav_left">
        <li><a class="first_link" href="https://original-group.ru/en/company/about/" target="_blank">company</a></li>
        <li><a href="https://original-group.ru/en/it-platforms/cc_platform/" target="_blank">it platforms</a></li>
        <li><a href="https://original-group.ru/en/projects/" target="_blank">made in og</a></li>
        <li><a href="https://original-group.ru/en/contacts/" target="_blank">contacts</a></li>
      </ul>
      <ul class="nav_right">
        <li><a href="https://original-group.ru/en/company/about/" target="_blank">
          <span class="icon r1"></span><span>news</span></a>
        </li>
        <li><a class="last_link" href="https://original-group.ru/en/it-platforms/cc_platform/" target="_blank">
          <span class="icon r2"></span><span>join us</span></a>
        </li>
      </ul>
    </nav>
  </div>

</div>
<router-outlet></router-outlet>
<!-- </div> -->
