

.logo {
  color: rgb(106, 52, 122);
  font-size: 2em;
  font-family: 'Coming Soon', cursive;
  font-style: italic;
  /* background-color: #000; */
  padding: 22px 16px;
}

.navbar-custom {
  margin-top: 10px;
  padding-bottom: 12px;
}

.main-content {
  height: 100%;
  width: 60%;
}

#topRow {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#btmRow {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.map-container {
  height: 500px;
}

.info-container {
  height: 500px;
  background-color: white;
}

.container-fluid {
  padding: 0;
}
.header_top{
  box-sizing: border-box;
  width: 100%;
  background-color: white;
}
.logo2{
  margin-right: 27px;
  margin-bottom: 28px;
}
.logo_separator{
  width: 1px;
  height: 48px;
  background-color: #e6e9ec;
}
.logo_slogan{
  color: white;
  height: 54px;
  font-family: MuseoSansCyrl, Arial, sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  padding-left: 18px;
  margin-top: -5px;

}

nav .nav_left{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 70%;
}
nav .nav_right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
}
nav .nav_left li,.nav_right li {
  padding-right: 5px;
  padding-left: 5px;
}
nav .nav_left a,.nav_right a {
  color: #d7eafa;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 20px 15px;
}
nav .nav_right span {
  display: inline;
  border-bottom: 1px dotted;
  border-bottom-color: rgb(215, 234, 250);
}
nav .nav_right span.icon {
  border: 0 !important;
  position: relative;
  top: 1px;
  display: inline-block;
  background: url("../assets/img/og-sprite.png") 0 0 no-repeat;
  margin-right: 10px;
  width: 14px;
  height: 14px;
}
nav .nav_right span.icon.r1{
  background-position: -45px 0;
}
nav .nav_right span.icon.r2{
  background-position: -60px 0;
}
.first_link {
  padding-left: 0 !important;
}
.last_link {
  padding-right: 0 !important;
}
nav .nav_left,.nav_right a:hover{
  color: white;

}


@media screen and (min-width: 900px) {
  .header_top-container{
    display: flex;
    width: 100%;
    padding-right: 130px;
    padding-left: 130px;
    padding-top: 30px;
    background-image: url("/../assets/img/main_bg.jpg");

  }
  nav.main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding-right: 130px;
    padding-left: 130px;
    background-color: #fbcc43;
    box-shadow: 0 4px 5px -2px rgba(68,68,68,0.6);
  }
}
