<!-- <div class="container"> -->
<!-- <nav id="" class="navbar navbar-custom">
  <a class="navbar-brand" [routerLink]="['/']">
    <p class="logo">{{ title }}</p>
  </a>
</nav> -->

<div class="container-fluid" style="z-index: 5">
  <div class="header_top">
    <div class="header_top-container">
      <img src="/assets/img/logo.png" alt="Original Group" class="logo2">
      <div class="logo_separator"></div>
      <div class="logo_slogan">Система НЭТТРАК<br>
        бортового взвешивания<br>
        для грузовых автомобилей</div>
    </div>
    <nav class="main">
    </nav>
  </div>

</div>
<router-outlet></router-outlet>
<!-- </div> -->
